body{
gap: 15px;

 padding: 20px;
    background-color: black;

    display: flex;

    flex-direction: column;

    flex-wrap: wrap;

    color: white;
}


.card{

    display: flex;
    
    flex-direction: row;

    padding: 5px;
    
    width: 1000px;

    margin-bottom: 10px;

    
    gap: 10px;
    
    background-color: gray;
    
    color: white;

    border-radius: 16px;

    
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.poster{
    padding: 16px;

    width: 200px;

 object-fit: cover;

 border-radius: 15px ;
 
 display: flex;

 align-items: center;

 border: solid 1px yellow;
}


.titulo{

padding: 16px;

display: flex;

flex-direction: column;

align-items: flex-start;

gap: 10px;

color: black;

font-size: 25px;

font: 800px;


}



.artista{
    
    justify-content: flex-end;

    flex-direction: column;

    padding: 16px;

 



}
.album{


    align-items: flex-start;


    justify-content: flex-end;

    text-align: right;

    

}
.tituloEartista{

display: flex;
width: 1000px;
    width: 70%;

flex-direction: column;

gap: 16px;

}