.negrito{
    font-weight: 700;
}

#informacoes{
    display: flex;
    flex-direction: row; /*elemetos filhos ficam na vertical*/
    justify-content: space-around ;
    border: solid 2px black; /* cria uma borda em volta do conteudo*/
    gap: 5px; /*espaço entre os elementos filhos*/
}
