.tela-home{
 
    background-image: url(../imgHome/round6.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
 
}


.navbar{
    position: fixed;
    width: 100%;
    background-color: black;
}