.tela-home{
 
    background-image: url(../imgCarrosels/cavaleiro.jpg) ;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200vh;
    height:70vh;
    
 
}


.navbar{
    position: fixed;
    width: 100%;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.7511379551820728) 0%);

}