.info{
    background-color:rgb(179, 179, 179);
    width:160px;
    flex-direction: row;
    height: 16px;
    padding: 15px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}