.selecao-perfil{
    display: flex;
    flex-direction: column ;
    align-items: center;
   
    padding: 530px;

    width: fit-content;
    width: 100vh;
    height: 100vw;
    border: solid blue;

}

.container-cards{
    display: flex;
    flex-direction: row;
    gap: 24px;

    margin-bottom: 64px;
}

.titulo{
    color: #efefef;
    
    font-size: 52px;
    font-weight: 400;
}