body{
    background-color: black;
}

.card{
    border-radius: 5px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 12px;
}
.item{
display: flex;
flex-direction: row;
padding: 12px;
}

.imagem1{
    
    height: 40px;
    width: 40px;
    justify-content:end;
    display: flex;
    flex-direction: row;
}


.imagem2{
    height: 40px;
    width: 40px;
}