.nav-bar{
    /* border: solid red;    */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    font-size: 100px;
    align-items: center;
    padding: 10px;
    
}

.logotipo{
        /* border: solid red; */
        font-size: 100px;
        width: 150px;
}



.link{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.selecionado{
    font-weight: 800;
}

.link:hover{
    color: #999999;
}

.cartao{
 display: flex;
 flex-direction: row;
font-size: 30px;
 color: black;
}

.icon-conta{
    /* border:solid 2px blue;    */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end ;
    padding: 15px;
    color: white;
    gap:10px ;
    width: 50%;
}

.humano{
    font-size: 30px;
}

.txt-conta{
    font-size: 20px;
    
}

