.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 10px;
    align-items: center;
}

.logotipo{
    font-size: 50px;
    width: 100px;
}



.link{
    color: #dcdcdc;
    font-size: 20px;
    font-weight: 500;
}

.selecionado{
    font-weight: 800;
}

.link:hover{
    color: #999999;
}

.cartao{
 display: flex;
 flex-direction: row;
font-size: 30px;
 color: white;
}

